.profile-card {
  margin: 4rem 2rem 0;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* border: 1px solid red; */
  background-color: whitesmoke;
  /* background-color: #fbeaeb; */
  color: #151515;
  padding: 0;
  overflow: hidden;
  width: 100%;
  /* height: 80vh; */
}
.img-card {
  /* height: 12vw; */
  aspect-ratio: 16 /5;
  overflow-x: hidden;
  overflow-y: hidden;
}
.img-card img {
  height: 100%;
  width: 100%;
  transition: all 500ms ease-out;
  transform: scale(1);
}
@media (hover: hover) {
  .img-card {
    /* transition: all 300ms ease-out; */
  }
  .img-card img:hover {
    transition: all 300ms ease-in;
    transform: scale(1.2);
  }
}

.profile-desc,
.date,
.job,
.company {
  /* font-family: "Inter"; */
  /* font-weight: 600; */
  font-size: large;
}
.profile-desc {
  padding-right: 5px;
}
.date,
.job,
.company {
  padding-top: 6px;
}

.job {
  font-size: larger;
}

.job-info {
  margin-left: 1.5rem;
  margin-top: 10px;
}
/* .card {
  
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
} */
@media screen and (max-width: 1025px) {
  .profile-card {
    height: 50vh;
  }
}

@media screen and (max-width: 430px) {
  .job {
    font-size: large;
  }
  .date,
  .company {
    font-size: medium;
  }
  .profile-desc {
    font-size: small;
  }
}
